.products {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products h1 {
    font-size: 40px;
    font-weight: 700;
}

.products button {
    margin-bottom: 200px;
}

.product-examples {
    position: absolute;
    top: 250px !important;
    display: flex;
    background-color: var(--example-prod-bg);
    box-shadow: var(--box-shadow);
    border-radius: 50px;
    width: 60%;
}

.product-examples div{
    padding: 30px;
}

.prod1 {
    display: flex;
    flex-direction: column;
}

.prod1 hr {  
    margin-top: -20px ;
    margin-left: -20px;
    width: 70px;
}

.product-image {
    display: flex;
    justify-content: center;
}

.product-image img{
    width: 90%;
}

.product-images {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-images img {
    padding: 20px;
}

@media screen and (max-width:1024px){
    .product-examples {
        flex-direction: column;
        background: none;
        border-radius: none;
        box-shadow: none;
        position: relative;
        top: -100px;
    }

    .product-examples div {
        justify-content: center;
        align-items: center;
        /* border-radius: var(--border-radius); */
        background-color: var(--example-prod-bg);
        box-shadow: var(--box-shadow);
        margin-bottom: 40px;
    }

    .prod1 span{
        margin-left: 0px;
    }

    .team-status div h1 {
        font-size: 30px;
    }

    .team-status div p {
        font-size: 15px;
    }
    
    .team-pic div { 
        padding: 110px 15px 20px 30px;
    }

    .prod1 span hr {
        margin-left: 0;
    }
}

@media screen and (max-width:786px){
    .products h1 {
        font-size: 30px;
    }
}